@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

:root{
	--red: hsl(0, 100%, 66%);
	--white: hsl(0, 0%, 100%);
	--lightGrayishViolet: hsl(270, 3%, 87%);
	--darkGrayishViolet: hsl(279, 6%, 55%);
	--veryDarkViolet: hsl(278, 68%, 11%);
}

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}

body{
	font-family: 'Space Grotesk', sans-serif;
	font-size: 18px;

	background-color: var(--white);

	width: 100%;
	height: 100vh;
	/*overflow: hidden;*/
}

main{
	height: 100vh;
	overflow: hidden;

	position: relative;
}


/* Form & ThankYou */
.form-area{
	height: 100vh;
}

.form-content{
	width: 50%;
	/*margin-right: 15%;*/
	margin-right: 100px;
}

.form-label{
	color: var(--veryDarkViolet);
	text-transform: uppercase;
	letter-spacing: 2px;
}

.form-control:focus, .form-select:focus{
	background: 
	    linear-gradient(white 0 0) padding-box,
	    linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%)) border-box;
	border: 2px solid transparent;
	border-radius: 6px;
}

#btn-confirm, #btn-continue{
	background-color: var(--veryDarkViolet);
	color: var(--white);
}

.input-error{
	border: 2px solid var(--red);
}

.form-control-error{
	color: var(--red);
}

#thank_you_div span.text-uppercase{
	letter-spacing: 3px;
	font-size: 30px;
}

#thank_you_div p{
	color: var(--darkGrayishViolet);
}
/* ---------------------- */


/* Bank Cards */
.bank-card{
	/*width: 447px;
	height: 245px;*/
	/*width: 25%;
	height: 30%;*/

	width: fit-content;

	border-radius: 10px;

	background-color: grey;

	color: var(--white);

	/*background-size: cover;
	background-repeat: no-repeat;*/

	position: absolute;
}

.bank-card .card-bg-img {
	position: relative;

	width: 100%;
}

.card-body{
	position: absolute;
	z-index: 1;
}

.card-front .card-body{	
	top: 0;
}

.card-front{
	top: 10%;
	left: 7%;
}

.card-number{
	letter-spacing: 3.5px;

	font-size: 26px;
}

.cardholder-name, .exp-date{
	font-size: 16px;

	letter-spacing: 1.5px;
}

.card-back{
	top: 50%;
	left: 13%;
}

.card-back .card-body{
	top: 43.5%;
	right: 12%;
}

.card-cvc{
	letter-spacing: 1.5px;
}
/* ---------------------- */


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }




@media only screen and (max-width: 768px){
	main{
		overflow-y: unset;
	}

	picture img{
		width: 100vw;
	}

	.form-area{
		height: fit-content;
		margin-top: 150px;
	}

	.form-content{
		width: 90%;
		margin: 0 auto;
	}

	.bank-card{
		width: 80%;

		position: absolute;
	}

	.card-front{
		top: 30%;
		left: 7%;

		z-index: 2;
	}
	.card-back{
		top: 5%;
		left: auto;
		right: 5%;

		z-index: 1;
	}
}

@media only screen and (max-width: 576px){
	.card-front{
		top: 25%;
	}

	.card-back{
		top: 5%;
	}

	.form-area{
		margin-top: 120px;
	}
}

@media only screen and (max-width: 505px){
	.card-number{
		font-size: 22px;
	}

	.cardholder-name, .exp-date{
		font-size: 14px;
	}

	.card-logo{
		padding-bottom: 20px !important;
	}
}

@media only screen and (max-width: 450px){
	.card-front{
		top: 22%;
	}

	.card-back{
		top: 5%;
	}

	.card-logo{
		width: 28%;

		padding-bottom: 10px !important;
	}

	.card-logo img{
		height: 100%;
		width: 100%;
	}

	.card-number{
		font-size: 20px;
		letter-spacing: 1.5px;
		margin-bottom: 5px;
	}

	.cardholder-name, .exp-date{
		font-size: 12px;
		letter-spacing: 1.5px;
	}
}

@media only screen and (max-width: 375px){
	.card-number{
		letter-spacing: 1px;
	}

	.cardholder-name, .exp-date{
		letter-spacing: 1px;
	}
}